<form id = "john" class="ui stacked segment form" action="/about/addcomment" method="POST" enctype="multipart/form-data">
  <div class="field">
  
    <div class="field">
      <label>Comment as {{fullname}}.</label>
      <input placeholder="Comment" type="text" name="comment" required>
    </div>
  </div>
  <button class="ui green submit button">Add Comment</button>
</form>